[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// background: url(../img/icons/icons-sprite.png);
}

.icon-facebook{
	width: 8px;
	height: 16px;
	background: url(../img/icons/facebook.png) no-repeat center center;
}

.icon-facebook-dark{
	width: 8px;
	height: 16px;
	background: url(../img/icons/facebook-dark.png) no-repeat center center;
}

.icon-instagram{
	width: 16px;
	height: 16px;
	background: url(../img/icons/instagram.png) no-repeat center center;
}

.icon-instagram-dark{
	width: 16px;
	height: 16px;
	background: url(../img/icons/instagram-dark.png) no-repeat center center;
}

.icon-location{
	width: 12px;
	height: 16px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-forest{
	width: 86px;
	height: 86px;
	background: url(../img/icons/forest.png) no-repeat center center;
}

.icon-route{
	width: 80px;
	height: 86px;
	background: url(../img/icons/route.png) no-repeat center center;
}

.icon-gym{
	width: 112px;
	height: 74px;
	background: url(../img/icons/gym.png) no-repeat center center;
}

.icon-equipment{
	width: 85px;
	height: 85px;
	background: url(../img/icons/equipment.png) no-repeat center center;
}

.icon-aim{
	width: 86px;
	height: 86px;
	background: url(../img/icons/aim.png) no-repeat center center;
}

.icon-techniques{
	width: 86px;
	height: 86px;
	background: url(../img/icons/techniques.png) no-repeat center center;
}

.icon-professional{
	width: 86px;
	height: 86px;
	background: url(../img/icons/professional.png) no-repeat center center;
}

.icon-stadium{
	width: 112px;
	height: 100px;
	background: url(../img/icons/stadium.png) no-repeat center center;
}

.icon-strength{
	width: 97px;
	height: 97px;
	background: url(../img/icons/strength.png) no-repeat center center;
}

.icon-cup{
	width: 100px;
	height: 100px;
	background: url(../img/icons/cup.png) no-repeat center center;
}

.icon-document{
	width: 11px;
	height: 16px;
	background: url(../img/icons/document.png) no-repeat center center;
}