// .tpg - typoraphy prefix

body{
	font-size: 16px;
	line-height: 1.5;
	color: $text-color;
	font-family: $main-font;
}

.tpg-typography p,
body .tpg-body-1,
.tpg-note{
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 1.5em;

	&:last-child{
		margin-bottom: 0;
	}
}

body .tpg-body-2{
	font-weight: bold;
}

.tpg-typography h1,
body .tpg-h1{
	font-size: 42px;
	line-height: 1.2;
	margin: 0 0 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: $second-font;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 767px){
		font-size: 30px;
	}
}

.tpg-typography h2,
body .tpg-h2{
	font-size: 36px;
	line-height: 1.2;
	margin: 0 0 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: $second-font;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 767px){
		font-size: 28px;
	}
}

.tpg-typography h3,
body .tpg-h3{
	font-size: 24px;
	line-height: 1.2;
	margin: 0 0 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	font-family: $second-font;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 767px){
		font-size: 20px;
	}
}

.tpg-typography ul,
body .tpg-ul{
	list-style: none;
	margin-bottom: 24px;

	li{
		font-size: 16px;
		line-height: 24px;

		&:before{
			content: '•  ';
			color: $primary;
		}
	}
}

.section-caption{
	margin-bottom: 45px;

	&:last-child{
		margin-bottom: 0;
	}

	.sc-title{
		font-size: 20px;
		line-height: 40px;
		font-family: $second-font;
		font-weight: 800;
		color: $primary;

		span{
			display: block;
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;
			font-size: 64px;
			line-height: 1;

			@media screen and (max-width: 575px){
				font-size: 44px;
			}
		}
	}
}

.numbered-caption{
	display: flex;
	align-items: center;
	font-family: $second-font;
	margin-bottom: 40px;

	&:last-child{
		margin-bottom: 0;
	}

	.number{
		width: 64px;
		height: 64px;
		display: flex;
		flex: none;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 300;
		background: $primary;
		margin-right: 30px;
	}
}

.tpg-ol{
	list-style: none;
	counter-reset: ol;
	margin-bottom: -21px;

	li{
		counter-increment: ol;
		position: relative;
		padding-left: 40px;
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: calc(15px + 6px);

		&:before{
			content: counter(ol);
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: $primary;
			color: #fff;
			text-align: center;
			line-height: 30px;
			font-size: 16px;
			font-weight: bold;
			position: absolute;
			left: 0;
			top: -3px;
		}
	}

	&.columns-2{
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;

		> li{
			padding: 0 15px 0 55px;
			width: 50%;

			&:before{
				left: 15px;
			}
		}
	}

	@media screen and (max-width: 575px){
		&.xs-columns-1{
			> li{
				width: 100%;
			}
		}
	}
}

.orange-phone{
	font-size: 36px;
	line-height: 44px;
	color: $primary;
	font-weight: 300;
	font-family: $second-font;
	text-decoration: none;
	transition: all $t;
	display: inline-flex;

	&:hover{
		color: $text-dark;
	}

	@media screen and (max-width: 575px){
		font-size: 34px;
	}
}