// Fonts
$main-font: 'Roboto', Arial, sans-serif;
$second-font: 'Gilroy', $main-font;
$hand-font: 'Caveat';

// Colors
$orange: #f15c2c;

$dark: #303030;
$gray: #585858;
$lightgray: #a1a1a1;

$text-color: $gray;
$text-dark: $dark;
$text-light: $lightgray;

$primary: $orange;
$accent: $orange;

// Params
$body-bg: #f9f9f9; // site background
$t: .3s; // animation duration
$r: 5px; // default border radius
$shadow: 3px 7px 28px rgba(#000, .1); // default card shadow