.first-screen-section{
	height: 100vh;
	min-height: 500px;
	background: url(../img/backgrounds/first-screen-bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}