.who-we-are-section{
	padding: 70px 0 60px;
}

.training-directions-section{
	padding: 60px 0 120px;
}

.ski-race-section{
	height: 100vh;
	min-height: 500px;
	background: url(../img/backgrounds/ski-races-bg.jpg) no-repeat center center;
	background-size: cover;
	// background-attachment: fixed;
	display: flex;
	align-items: center;
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.container{
		z-index: 2;
	}

	@media screen and (max-width: 767px){
		padding: 60px 0;
		min-height: 100vh;
		height: auto;

		&:after{
			background: rgba(#000, .6);
		}
	}

	@media screen and (max-width: 575px){
		background-position: 60% center;
	}
}

.first-lesson-promo-section{
	height: 100vh;
	min-height: 500px;
	background: url(../img/backgrounds/first-lesson-promo-bg.jpg) no-repeat center center;
	background-size: cover;
	// background-attachment: fixed;
	display: flex;
	align-items: center;
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.container{
		z-index: 2;
	}

	@media screen and (max-width: 767px){
		padding: 60px 0;
		min-height: 100vh;
		height: auto;

		&:after{
			background: rgba(#000, .6);
		}
	}

	@media screen and (max-width: 575px){
		background-position: 55% center;
	}
}

.childrens-school-section{
	height: 100vh;
	min-height: 500px;
	background: url(../img/backgrounds/childrens-school-bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.container{
		z-index: 2;
	}

	@media screen and (max-width: 767px){
		padding: 60px 0;
		min-height: 100vh;
		height: auto;

		&:after{
			background: rgba(#000, .6);
		}
	}

	@media screen and (max-width: 575px){
		background-position: 75% center;
	}
}

.sports-camp-section{
	padding: 80px 0;

	.image-with-label{
		.image{
			img{
				max-width: 120%;
				margin-left: -10%;
			}
		}
	}
}

.training-approach-section{
	padding: 80px 0 120px;

	.image-with-label{
		.image{
			img{
				max-width: none;
				margin-left: -23%;

				@media screen and (max-width: 1199px){
					max-width: 160%;
					transform: translateY(80px);
				}

				@media screen and (max-width: 991px){
					max-width: 100%;
					transform: none;
					margin-left: 0;
				}
			}
		}
	}
}

.contacts-section{
	height: 515px;
	display: flex;
	align-items: center;
	position: relative;
	background-size: cover;

	.container{
		z-index: 2;
	}

	.contacts-map{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background: url(../img/map.png) no-repeat center center;
	}

	.contacts-block{
		background: #fff;
		border-left: 3px solid $primary;
		box-shadow: 0 10px 28px rgba(#000, .1);
		position: relative;
		padding: 30px 25px;
		max-width: 370px;
		width: 100%;

		&:after{
			content: '';
			display: block;
			height: 100%;
			width: 65px;
			position: absolute;
			top: 0;
			left: 100%;
			background: #fff;
			clip-path: polygon(0 0, 0% 100%, 100% 50%);
		}

		.company-name{
			font-size: 24px;
			line-height: 30px;
			font-weight: 300;
			color: $primary;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		.company-contacts{
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			> .item{
				margin-right: 45px;

				&:last-child{
					margin-right: 0;
				}
			}
		}

		.company-phone{
			font-size: 16px;
			line-height: 30px;
			font-weight: bold;
			color: $text-dark;
			text-decoration: none;

			&:hover{
				color: $primary;
			}
		}

		@media screen and (max-width: 575px){
			&:after{
				display: none;
			}

			.company-contacts{
				flex-direction: column;
				align-items: stretch;

				> .item{
					margin-right: 0;
					margin-bottom: 20px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		flex-direction: column;
		align-items: stretch;
		height: auto;

		.contacts-map{
			position: static;
			height: 400px;
		}

		.contacts-block{
			border-left: 0;
			border-bottom: 3px solid $primary;
			margin-top: -50px;
			max-width: 100%;

			&:after{
				display: none;
			}
		}
	}
}

.page-content-section{
	padding: 60px 0 120px;
}