.menu-opener{
	width: 64px;
	height: 64px;
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all $t;

	.bar{
		width: 24px;
		height: 3px;
		margin-bottom: 4px;
		background: #fff;
		transition: all $t;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&:hover{
		.bar{
			background: $primary;
		}
	}

	&.active{
		.bar{
			&:nth-child(1){
				transform-origin: 50% 50%;
				transform: rotate(45deg) translate(5px, 5px);
				width: 34px;
			}

			&:nth-child(2){
				transform: rotateY(90deg);
			}

			&:nth-child(3){
				transform-origin: 50% 50%;
				transform: rotate(-45deg) translate(5px, -5px);
				width: 34px;
			}
		}
	}
}